
<div class="form-container1">
  <div class="container">
    <h3 class="form-text"> Site de vente de voiture à Madagascar</h3>
    <div class="form3">
      <mat-list style="font-family:Times New Roman" role="list">
        <mat-list-item style="color: white" role="listitem"> <mat-icon>check_circle</mat-icon>Publier votre annonce gratuitement!</mat-list-item>
        <mat-list-item style="color: white"role="listitem"> <mat-icon>check_circle</mat-icon>Achetez et vendez en toute sécurité!</mat-list-item>
        <mat-list-item style="color: white"role="listitem"> <mat-icon>check_circle</mat-icon> Ajoutez des photos pour vendre plus vite!</mat-list-item>
        <mat-list-item style="color: white"role="listitem"> <mat-icon>check_circle</mat-icon> Des centaines d'acheteurs chaque jour.</mat-list-item>
      </mat-list>
    </div>
    <div class="form-group row">
      <div class="form-imgMada">
        <img src="../../assets/img/imageHommeMada.jpg" height="280" width="150"/>
      </div>
      <mat-list class="listVille" role="list">
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Antananarive</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Antsiranana	</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Fianarantsoa</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Mahajanga</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Toamasina</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>arrow_right_alt</mat-icon>Toliara</mat-list-item>
      </mat-list>
    </div>

</div>
</div>

<div class="form-containner2">
  <div class="container">
    <table class="form-table">
      <td>

        <img style=" border-radius: 10px 10px 10px 10px" src="../../assets/img/imageHomme1.jpg" height="200" width="200"/></td>
      <td>

        <img style=" border-radius: 10px 10px 10px 10px" src="../../assets/img/imageHomme2.jpg" height="200" width="200"/></td>
      <td>

        <img style=" border-radius: 10px 10px 10px 10px" src="../../assets/img/imageHomme3.jpg" height="200" width="200"/></td>
    <td>

      <img style=" border-radius: 10px 10px 10px 10px"  src="../../assets/img/imageHomme4.jpg" height="200" width="200"/></td>
   <td>

     <img style=" border-radius: 10px 10px 10px 10px" src="../../assets/img/imageHomme5.jpg" height="200" width="200"/></td>
    </table>

  </div>
</div>
<h4  class="form-text-gratuit">Inscrivez-vous  gratuitement!</h4>
