
  <div class="container">
    <div class="row">
      <div class="card-body">

      </div>
    </div>
    <form>
      <div class="form-group row">
        <div>

            <table width="55%">
                <tr>
                    <td colspan=3 style="text-align: center;background-color: #4CAF50;width: 75%; color: white;">
                        <h4>Les papiers à fournir et formalités pour vendre sa voiture</h4>
                    </td>

                </tr>
                <tr>
                    <th>Certificat de cession</th>
                </tr>
                <tr>
                    <td>En cas de vente de votre véhicule, vous devez remplir le cerfa 15776 de déclaration de cession.  Egalement appelé certificat de cession de véhicule, il s’agit d’un document obligatoire (mis à disposition à l’état vierge par l’administration) devant être remis en deux exemplaires par le vendeur (ou le donateur) d’un véhicule (voiture, moto, etc.) à l’acheteur (ou le donataire à dudit véhicule).</td>
                </tr>
                <tr>
                    <th>Certificat de non-gage</th>

                </tr>
                <tr>
                    <td>Il s’agit d’un document administratif permettant de prouver, d’une part, l’absence de gage sur le véhicule (dans ce cas, on parle de “voiture gagée”) et, d’autre part, qu’il n’existe aucune opposition au transfert du certificat d’immatriculation. En pratique, un véhicule peut être gagé lorsqu’il a été acheté via un crédit-bail qui n’a pas été soldé.

                        Il peut aussi faire l’objet d’une opposition au transfert de la carte grise (exemples : en cas de vente d’un véhicule volé ou dangereux, lorsque le propriétaire n’a pas payé ses amendes pour excès de vitesse, etc.).
                    <br> <a href="?">http://www.mid.gov.mg/mid-cim-cg-detail/cg-ig/</a></td>

                </tr>
                <tr>
                    <th>Certificat de contrôle technique</th>
                </tr>
                <tr>
                    <td>La preuve du contrôle technique du véhicule est un justificatif obligatoire dès lors que votre véhicule a plus de 4 ans et n’est pas dispensé du contrôle technique (véhicule de collection).

                        Le contrôle technique doit dater :

                        de moins de 6 mois,
                        ou de moins de 2 mois dans le cas où une contre-visite a été prescrite par le garagiste.</td>
                </tr>
                <tr>
                    <th>Certificat d’immatriculation (ou “carte grise”)</th>
                </tr>
                <tr>
                    <td>Vous devez également remettre le certificat d’immatriculation (ou “carte grise”) du véhicule à l’acheteur.

                        Dans le cas où il s’agit de l’ancien modèle de carte grise (sans coupon détachable), le certificat doit comporté la mention “vendu le” ou “cédé le” suivie de la date et de l’heure de cession du véhicule et de votre signature.

                        Dans le cas où il s’agit du nouveau modèle (avec coupon détachable), vous devez compléter la partie haute du certificat avec la mention “vendu le” ou “cédé le” puis inscrire la date et l’heure de la vente suivies de votre signature. Vous devez également remplir le coupon détachable en mentionnant les coordonnées de l’acheteur et la date de la vente puis le signer.
                    <br><a href="?">http://www.mid.gov.mg/mid-cim-cg-detail/cg-exfaritany-mutation/</a></td>
                </tr>
            </table>
        </div>
        <div class="imgInfo">
            <img src="../../assets/img/imageInfo.png" height="800" width="500"/></div>
          <label style="padding-left: 60% ">Adresse email de l'Administateur:<label style="color: navy">jferic2@gmail.com</label></label>
        </div>

    </form>
  </div>
