
.container{
    border-radius: 10px 10px 10px 10px;
    display: block;
    width: 70%;
    background-color: white;
    margin-top:3%;
    padding-bottom: 1%;

}
.form-recherche{
    padding-top: 1%;
}
.card-body{
    padding: 0.5%;
    color: white;
    text-align: center;
    background-color: rgb(120, 120, 120);}


#forme-boutton-recherche{
    display: block;
    background-color: #4CAF50;
    color: white;
    width: 100%;
}
.forme-boutton-annuler{
    display: block;
    background-color: red;
    color: white;
    width: 108.5%;
    margin-left: 219%;
    margin-top: -31%;
}