
<mat-tab-group class="forme-offre">
  <mat-tab label="Mes offres">

    <mat-card *ngFor="let offre of offres ">
      <div class="form-group row">

        <div id="imageOffre">
          <img *ngIf="offre['images'].length > 0" src="http://localhost:8080/vente-auto-back/images/{{offre['images'][0]}}" height="200" width="200"/>
          <img *ngIf="offre['images'].length === 0" src="../../assets/img/bugatti.jpg" height="200" width="200"/>
        </div>
        <div class="formePrix">
          <label>{{offre['prix']| number}}Ar</label>
        </div>
        <div class="tableOffre">
          <mat-label class="formeModele">{{offre['marque']}} {{offre['modele']}}</mat-label>
          <table >

            <tr>
              <td>Lieu:</td>
              <td>{{offre['ville']}}</td>
            </tr>
            <tr>
              <td>Date de publication:</td>
              <td>{{offre.date}}</td>
            </tr>
            <tr>
              <td>
                <div class="btnContacte">
                  <button mat-raised-button [routerLink]="['/home/apropos-annonce', offre['id']]"
                          style="background-color: #4CAF50; color: white"><mat-icon>chrome_reader_mode</mat-icon> Apropos
                  </button>
                </div>
              </td>
              <td>
                <div class="btnContacte">
                  <button mat-raised-button (click)="openDialog(offre.id)"
                          style="background-color:red; color: white"><mat-icon>delete</mat-icon>Supprimer
                  </button>
                </div>
              </td>

              <td width="60%" style="padding-left: 52%">
                  <!--
                <button mat-raised-button
                        style="background-color:navy; color: white"><mat-icon>vertical_align_top</mat-icon>Afficher en premier ligne
                </button>
                -->
              </td>
            </tr>
          </table>
        </div>



      </div>

    </mat-card>
  </mat-tab>
</mat-tab-group>

